@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600&display=swap');

/* || Global Vars */
:root {
  --brand-color-gold: #FFA91F;
  --brand-color-blue: #427AA1;
  --brand-color-black: #050404;
  --brand-color-red: #8E1529;
  --brand-color-white: #FCFFF7;
  --site-font-one: 'Bebas Neue', 'Impact', sans-serif;
  --site-font-two: 'Poppins', sans-serif;
  --cta-color: #EB4C05;
  --main-bg-color: #C65062;
  --main-heading-color: #BAD9A0;
}

/* || General Styles */

body {
  font-family: var(--site-font-two);
  padding-top: 70px;
  background-color: pink;
}

/*
p,
ul {
  font-size: 1.25rem;
  color: var(--brand-color-white);
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--site-font-one);
  /*line-height: 0.7em;*/
}

h1 {
  font-size: 4.768rem;
}

h2 {
  font-size: 3.052rem;
}

a.nav-link:hover,
a.nav-link:focus {
  color: var(--brand-color-white);
}

footer {
  font-size: 10px;
}

footer p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 1.25em;
}

footer a {
  text-decoration: none;
  font-size: 10px;
}

em {
  font-weight: bold;
  color: rgba(0, 0, 0, .5);
}

/* || Typography */

/* || Brand Colors */

.brand-gold {
  color: var(--brand-color-gold);
}

.brand-blue {
  color: var(--brand-color-blue);
}

.brand-black {
  color: var(--brand-color-black);
}

.brand-red {
  color: var(--brand-color-red);
}

.brand-white {
  color: var(--brand-color-white);
}

/* || Buttons */
.btn {
  border-radius: 0;
  font-family: var(--brand-font-one);
  color: var(--brand-color-white);
  border-color: var(--brand-color-white);
}

.btn-primary {
  background-color: var(--brand-color-blue);
}

.btn-secondary {
  /*background-color: var(--brand-color-blue);*/
}

.btn-outline-info {
  color: var(--brand-color-gold);
  border-color: var(--brand-color-gold);
}

.btn-info {
  background-color: var(--brand-color-gold);
}

.btn-outline-primary {
  background-color: transparent;
  /*color: var(--brand-color-white);*/
}


/* || Header and Main Navigation */
.navbar {
  background-color: var(--brand-color-black);
}

.nav-link {
  color: var(--brand-color-blue);
  font-family: var(--site-font-one);
  font-size: 1.25em;
}

.dropdown-menu {
  background-color: var(--brand-color-black);
}

.dropdown-item {
  color: var(--brand-color-blue);
  font-family: var(--site-font-one);
}

.dropdown-divider {
  background-color: var(--brand-color-white);
}

#navbar-spy {
  -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .5);
  z-index: 999;
}

/*
#hero {
    height: clamp(100px, 100vh, 1200px);
        
    
        background-repeat: no-repeat; 
        background-size: cover;
    
      }
*/

.masthead {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
} 


.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}


.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 0, 0, 0.7);
}





.home-img {

  background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../img/heroHome.jpg");
  background-position: center center;

}



#intro {
  background-color:var(--brand-color-white);
background-image: url("../img/whiteWall.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    color: #fff;
  } 


#programs {
  background-color: var(--brand-color-red);
  background-image: url("../img/redWall.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    color: #fff;
}

#additional-offerings {
  background-image: url("../img/goldBg.png");
    background-size: cover;
    background-position: center;
}

#trailer {
  background-color: var(--brand-color-black);
  background-image: url("../img/wall-2.png");
    background-size: cover;
    background-position: center;
}


#testimonials {
  background-color: var(--brand-color-blue);
  background-image: url("../img/blue-bg.png");
  background-size: cover;
  background-position: center;

}

.list-unstyled {
  list-style: none;
}

.list-unstyled li {
  display: inline;
}

.icons {
  font-size: 1.25em;
  padding: 0 5px;
}

#contact {
  background-color: var(--brand-color-white);
  /*font-family: var(--site-font-one);*/
}


.hours {
  font-size: 1em;
}

.contact-info {
  color: #427AA1;
  /*font-family: 'Bebas Neue', 'Impact', sans-serif;*/
  font-size: 1em;
}

.contact-icon {
  font-size: 1em;
  padding-right: 5px;
}

.form-label {
  /*font-family: 'Bebas Neue', 'Impact', sans-serif;*/
}

.form-control {
  font-size: .75rem;
}

footer {
  background-color: #000;
}

.footer-icon {
  font-size: 2em;
  padding-right: 5px;
}

.footer-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 10px;
}

/* About Page */

.about-img {
  /* Add image */
  background-image: url("../img/desktopAbout.jpg");
  background-position: right;
}

h2.about {
  font-size: 80px;
  letter-spacing: normal;
}

h3.about {
  color: #BAD9A0;
}

ul.about {
  color: var(--brand-color-white);
  list-style-type: disc;
}

li.about {
  list-style: disc;
}

/* Boxing Page */
.boxing-img {
  background-image: url("../img/desktopBoxing.jpg");
  background-position: top right;
}

/* Kickboxing Page */
.kickboxing-img {
  background-image: url("../img/desktopKickboxing.jpg");
  background-position: top right;
}

/* Jiu Jitsu Page */
.jiu-jitsu-img {
  background-image: url("../img/desktopJiuJitsu.jpg");
  background-position: top right;
}

/* Personal Training */
.personal-training-img {

  background-image: url("../img/desktopPersonalTraining.jpg");
  background-position: right;
}

/* Kickstart */
.kickstart-img {
  background-image: url("../img/desktopKickstart.jpg");
  background-position: right;
}

/* Schedule */
.schedule-img {
  background-image: url("../img/desktopSchedule.jpg");
  background-position: right;
}

/* Membership */
.membership-img {
  background-image: url("../img/desktopMembership.jpg");
  background-position: left;
}

/* Events */
.events-img {
  background-image: url("../img/desktopEvents.jpg");
  background-position: center;
}

/* Pro Shop */
.shop-img {
  background-image: url("../img/desktopShop.jpg");
  background-position: right;
}




/* Media Queries */
@media (max-width: 1400px) {
  .masthead {
    min-height: 80vh;
  }

  

}

@media (max-width: 1200px) {
  .masthead {
    min-height: 70vh;
  }

  p, ul {
    font-size: 1rem;
  }


}

@media (max-width: 992px) {
  .masthead {
    min-height: 60vh;
  }

}

@media (max-width: 768px) {
  .masthead {
    min-height: 40vh;
  }
    h1 {
      font-size: 3.815rem;
    }

    h2 {
      font-size: 2.441rem;
    }

   
  }


@media (max-width: 576px) {
  .masthead {
    min-height: 30vh;
  }
 
}